<div class="footer" >

    <div class="follow">
      <a href="https://twitter.com/home"><i class="fa fa-twitter"></i></a>
    <a href="https://www.facebook.com/" ><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/" ><i class="fa fa-instagram"></i></a>
      

    </div>
    
      <p style="padding-bottom: 0;">© Copyright 2022 Online Shop</p>

  </div>
  <script>
    var MenuItems=document.getElementById("MenuItems")
    MenuItems.style.maxHeight="0px";
    function menutoggle()
    {
      if(MenuItems.style.maxHeight=="0px")
      {
        MenuItems.style.maxHeight="200px";
      }
      else{
        MenuItems.style.maxHeight="0px";
      }
    }
  </script>
</body>
</html>