<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devices-width, initial-scale=1.0">
    <title>Online Shop</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
  <div class="header">
    <div class="containers">
  
      <div class="navbar">
        <div class="logo">
          <img src="../static/logo.png" width="125px">
        </div>
        <nav>
          <ul id="MenuItems">
            <li >
              <a href="{{ url_for('home') }}" > Home </a>
            </li>
            <li>
              <a href="{{ url_for('product') }}"> Product </a>
            </li>
              {% if not current_user.is_authenticated: %}
            <li>
              <a href="{{ url_for('login') }}"> Login </a>
            </li>

            <li>
              <a href="{{ url_for('register') }}"> Register</a>
            </li>
                {% else: %}
              <li>
              <a href="{{ url_for('logout') }}"> Logout</a>
            </li>
              {% endif %}
              {% if  current_user.id==1: %}
              <li>
                <a href="{{ url_for('add_new_product') }}"> Add Product </a>
              </li>
              {% endif %}
            
          </ul>
        </nav>
        {% if current_user.is_authenticated: %}
        <li style="list-style: none;">
          <a href="" style="text-decoration: none;"> <img src="../static/cart.png" width="30px" height="30px"></a>
        </li>
        {% endif %}
        <img src="../static/menu.png" class="menu-icon" onclick="menutoggle()">
      </div>
      <div class="row">
        <div class="col-2">
            <h1>Give Your Workout <br>A NEW Style!</h1>
            <p> Success isn't always about greatness. It's about consistency. Consistent <br>hard work gains success. Greatness will come.</p>
            <a href="#" class="btn">Explore Now</a>
        </div>
        <div class="col-2" >
            <img src="../static/image1.png"  >
        </div>
    </div>
    </div>
</div>
    
 
  
  

