 {% include "header.html" %}
 {% block content %}
   

    <!-----featured categories------->
    <div class="categories">
        <div class="small_container">
            <div class="row">
                <div class="col-3">
                    <img src="../static/category-1.jpg" alt="">
                </div>
                <div class="col-3">
                    <img src="../static/category-2.jpg" alt="">
                </div>
                <div class="col-3">
                    <img src="../static/category-3.jpg" alt="">
                </div>
                
            </div>
        </div>

    </div>
    <!-- <-----featured Product----> 
    <div class="categories">
        <h3 style="text-align:center ; padding-bottom: 30px;">Featured product</h3>
        <div class="small_container">
            <div class="row">
                <div class="col-4">
                    <img src="../static/product-1.jpg" alt="">
                    <h4>Red Printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <img src="../static/product-2.jpg" alt="">
                    <h4>Hrx Shoes</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <img src="../static/product-3.jpg" alt="">
                    <h4>Hrx Trousers</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <img src="../static/product-4.jpg" alt="">
                    <h4>Blue Printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
            </div>
        </div>

    </div>

    <!--Latest product-->
    <div class="categories">
        <h3 style="text-align:center ; padding-bottom: 30px;">Latest product</h3>
        <div class="small_container">
            <div class="row">
                <div class="col-4">
                    <a href="{{ url_for('product') }}"><img src="../static/product-1.jpg" alt=""></a>
                    <h4>Red Printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <a href="{{ url_for('product') }}"><img src="../static/product-2.jpg" alt=""></a>
                    <h4>Hrx Shoes</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <a href="{{ url_for('product') }}"><img src="../static/product-3.jpg" alt=""></a>
                    <h4>Hrx Trousers</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <a href="{{ url_for('product') }}"><img src="../static/product-5.jpg" alt=""></a>
                    <h4>Blue Printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <a href="{{ url_for('product') }}"><img src="../static/product-6.jpg" alt=""></a>
                    <h4>Red Printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <a href="{{ url_for('product') }}"><img src="../static/product-7.jpg" alt=""></a>
                    <h4>Hrx Shoes</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <a href="{{ url_for('product') }}"><img src="../static/product-8.jpg" alt=""></a>
                    <h4>Hrx Trousers</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <a href="{{ url_for('product') }}"><img src="../static/product-4.jpg" alt=""></a>
                    <h4>Blue Printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
            </div>
        </div>

    </div>
<!--Offer-->
<div class="offer">
    <div class="row">
        <div class="col-2">
            <img src="../static/exclusive.png">
        </div>
        <div class="col-2">
                <p>Exclusive Available on RedStore</p>
                <h1>Smart Band 4</h1>
                <p>The Mi Smart Band features a 39.9% larger(than Mi band 3) AMOLED color<br>full-touch display with adjustable brightness, so everything is clear as can be</p>
                <a href="#" class="btn">BUY Now</a>
        </div>
    </div>
</div>
<!---testimonials---->
<div class="testimonials">

    <h2 style="text-align:center ; padding-bottom: 30px;">Testimonials</h2>
    <div class="testi">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../static/user-1.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam autem tempora a quidem, nobis rem excepturi velassumenda ipsum, in, sapiente qui dolorem alias ea facilis, vitae dolor itaque enim?</p>
                <div class="rating" style="text-align:center; padding-bottom:10px 0px">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <h1 style="text-align: center;">sean Parker</h1>
               
                
                
              </div>
            </div>
          </div>
    
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../static/user-2.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam autem tempora a quidem, nobis rem excepturi velassumenda ipsum, in, sapiente qui dolorem alias ea facilis, vitae dolor itaque enim?</p>
                <div class="rating" style="text-align:center; padding-bottom:10px 0px">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <h1 style="text-align: center;">Jhon Cena</h1>
                
              </div>
            </div>
          </div>
    
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../static/user-3.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam autem tempora a quidem, nobis rem excepturi velassumenda ipsum, in, sapiente qui dolorem alias ea facilis, vitae dolor itaque enim?</p>
                <div class="rating" style="text-align:center; padding-bottom:10px 0px">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <h1 style="text-align: center;">A GIRL</h1>
                
              </div>
            </div>
          </div>
    </div>
    

</div>
{% include "footer.html" %}
 {% endblock %}